* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body{
    font-family: "Inter", sans-serif;
}
.container {
    margin-inline: 100px;
    padding-inline: 100px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.header_logo {
    display: flex;


}

.header_logo_title:hover {
    color: red;
    display: flex;
}

.banner_nav_menu {
    display: flex;
}

.banner_nav_menu {
    gap: 10px;
}

.banner_nav_menu_item {
    font-size: 19.14px;
    font-weight: 500;
    line-height: 16.71px;
    transition-duration: 0.2s;
  
    
}
.banner_nav_menu_item:hover{
    border-bottom: 2px solid orange;

   
}

.banner_nav_menu_item_link {
    color: #4D4D4D;
}

.Signup_btn {
    width: 91px;
    height: 40px;
    gap: 10px;
    border-radius: 6px;
    background-color: #4CAF4F;
    color: white;
    border: none;




}

.login_btn {
    width: 77px;
    height: 40px;
    gap: 10px;
    border-radius: 6px;
    background-color: #F5F7FA;
    color: #4CAF4F;
    border: none;


}

.register_now_btn_note {
    font-size: 11.14px;
    font-weight: 500;
    line-height: 16.71px;


}

i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 80%;

    font-size: 20px;

}

.banner_main_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.banner_main_section_text {
    flex-direction: column;
}

.banner_main_section_text_title {
    font-size: 44.55px;
    font-weight: 600;
    line-height: 52.9px;
}

.banner_main h2:nth-child(2) {
    font-size: 44.55px;
    font-weight: 600;
    line-height: 52.9px;
    color: #4CAF4F;
}

.banner_main_section_text_note {
    font-size: 11.14px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 16.71px;
    margin-bottom: 22px;
    color: #717171;

}

.banner_main_section_register {
    width: 128px;
    height: 52px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;

    background-color: #4CAF4F;
    color: white;
    border: none;


}

.banner_main_section_img img {
    width: 272.16px;
    height: 283.3px;


}

.our_container {
    text-align: center;
    margin-top: 40px;
}

.our_container_title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: black !important;

}

.img_container {
    margin-top: 16px;
    margin-inline: 144px;
    display: flex;
    gap: 136px;
}

.our_container_note {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #717171;
}

.community_container {
    margin-top: 40px;
    text-align: center;
}

.community_container_title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #4D4D4D;
}

.community_container_note {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;


}

.community_parent_card {
    margin-inline: 144px;
    display: flex;
    gap: 127.7px;
}

.community_card {
    width: 299px;
    height: 260px;
    gap: 8px;
    border-radius: 8px;
    margin-top: 28px;
    text-align: center;
    box-shadow: 0 2px 4px #ABBED133;


}

.community_card_avatar {
    margin-top: 24px;
}

.community_card_title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #4D4D4D;
    margin-top: 24px;
}

.community_card_title_two {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #4D4D4D;
}

.community_card_note {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #717171;
    margin-top: 8px;
}

.section {
    margin-inline: 144px;
    display: flex;
}

.section_password_avatar img {
    width: 442px;
    height: 433px;

}

.section_text {
    flex-direction: column;
}

.section_text_title {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 100px;
}

.section_text_note {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #717171;
    margin-top: 16px;
    margin-bottom: 46px;
}

.section_text_btn {
    width: 151px;
    height: 52px;
    gap: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: none;


}

.section_text_btn_note {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.business_container_text {
    flex-direction: column;
}
.help_heding{
    width:50% ;
}



.secont_section {
    margin-inline: 144px;
    display: flex;
 margin-top: 50px;
}

.secont_section_text {
    flex-direction: column;
}

.secont_section_text_title {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 10px;
}

.secont_section_img img {
    width: 441px;
    height: 433px;


}
.secont_section_text_note{
    padding-top: 10px;
}

.help_container {
    width: 100%;
    height: 288px;
    background-color: #F5F7FA;
    padding-inline: 144px;
    padding-block: 84px;
    display: flex;
   

}
.help_contant_item{
    display: flex;
    align-items: center;
    gap: 40px;
    
   

}

.help_contant_item_avatar_text_flex {
    display: flex;
    align-items: center;
    gap: 10px;
  padding: 20px;
    

}
.help_contant{
    display: flex;
}

.help_heding_title {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;

}


.help_heding_note {
    color: #18191F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;


}

.help_heding_title span {
    color: #4CAF4F;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}
.help_contant_item_title{
font-size: 28px;
font-weight: 700;
line-height: 36px;
color: #4D4D4D;

}
.help_contant_item_note{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  color: #717171;

}








.secont_section_text_learn_btn {
    width: 151px;
    height: 52px;
    color: white;
    text-align: center;
    background-color: #4CAF4F;
    gap: 10px;
    border-radius: 4px;
    margin-top: 32px;
    border: none;


}

.thrid_section {
    width: 100%;
    height: 390px;
    background-color: #F5F7FA;
    padding-inline: 144px;
    display: flex;
    gap: 80px;
}

.thrid_section_avatar_img {
    width: 326px;
    height: 326px;
    gap: 0px;
    border-radius: 8px;

    object-fit: cover;
    margin-top: 32px;
}

.thrid_section_text_note {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.thrid_section_text {
    margin-top: 33px;

}

.thrid_section_text_title {
    color: #4CAF4F;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 16px;
}

.thrid_section_text_note_unlike {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #89939E;
    margin-top: 8px;
    margin-bottom: 32px;
}

.thrid_section_text_img_parent {
    display: flex;
    gap: 41px;
    align-items: center;
}

.meet_note {
    color: #4CAF4F;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    flex-direction: row;
    width: 200px;
}

.meet_and_search {
    display: flex;
    flex-direction: row;
}

.text_card {
    text-align: center;
    margin-top: 48px;
}

.text_card_title {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 10px;


}

.text_card_note {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;


}

.cards {
    margin-inline: 144px;
    display: flex;
    gap: 24px;

}

.card {
    position: relative;
    display: flex;
}

.card_img {
    width: 368px;
    height: 286px;
    border-radius: 8px;
    margin-top: 16px;
    object-fit: cover;



}

.card_absolute {
    width: 330px;
    height: 166px;
    background-color: #F5F7FA;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 83%;
    border-radius: 8px;



}

.card_absolute_note {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #717171;
    margin-top: 16px;
    text-align: center;
}

.card_absolute_note_readmore {
    display: flex;
    gap: 10px;


}

.card_absolute_note_readmore_note {
    color: #4CAF4F;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 99px;



}

.search_icon {
    margin-top: 10px;



}



.box {
    width: 100%;
    height: 300px;
    margin-top: 94px;
    background-color: #F5F7FA;
    text-align: center;
}

.box_title {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    color: #263238;
    margin-top: 32px;
}

.box_demo_btn {
    width: 178px;
    height: 52px;
    background-color: #4CAF4F;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 8px;
    border-radius: 4px;
    margin: 32px auto;
    border: none;
    color: white;
    display: flex;

}

.footer {
    height: 328px;
    width: 100%;
    background-color: #263238;
    padding-inline: 165px;
    display: flex;
    justify-content: space-around;


}

.footer_avatar {
    width: 43.27px;
    height: 29.67px;
    gap: 0px;
    opacity: 0px;
    margin-top: 64px;

}

.footer_title {
    margin-top: 66px;
    font-size: 28px;
    color: #F5F7FA;


}

.footer_banner_direction {
    flex-direction: column;
}

.footer_avatar_and_logo_flex {
    display: flex;
    gap: 5px;
}

.footer_note {
    color: #F5F7FA;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.footer_avatar {
    display: flex;
    gap: 16px;

}

.footer_nav_title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.footer_nav_menu_item {
    color: #F5F7FA;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 12px;

}
.footer_nav_menu_item:hover{
   border-bottom: 2px solid orange;
 

}

.footer_nav_menu_item_link {
    color: #F5F7FA;

}

.footer_form_group input {
    width: 255px;
    height: 40px;
    border-radius: 8px;
    opacity: 0.2px;
    background-color: #4a5058;
    padding-inline: 12px;
    color: #D9DBE1;
    margin-top: 24px;


}

.footer_form_group {
    display: flex;
    position: relative;

}




.footer_email_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 53px;

}

.input_avatar {
    position: absolute;
    right: 10px;
    top: 35px;
}

::placeholder {
    color: #D9DBE1;
    opacity: 1;
}