* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Manrope",serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin-inline: 106px;
    padding-inline: 106px;
}

.header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.header_nav_menu {
    display: flex;
    align-items: center;
    display: flex;
    gap: 24px;
}

.header_nav_menu_item {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

}

.header_nav_menu_item_link {
    color: #0A0B0D;
}

.header_singup {
    width: 100px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    gap: 12px;
    border-radius: 4px;
    background-color: #1B9E4B;
    color: #fff;
    border: none;
}
.main_banner{
    padding-inline: 109px;
    margin: inline 109px;
}
.main_banner_info{
display: flex;
align-items: center;

}
.main_banner_info_first_child{
    flex-direction: column;

}


.main_banner_info_first_subtitle {
    font-size: 48px;
    font-weight: 700;
    margin-top: 80.5px;
    line-height: 60px;
}
.main_banner_info_subtitle h2:nth-child(2){
    color: #A855F7;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.main_banner_info_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 52px;
}
.main_banner_info_Get_started{
    width: 166px;
    height:48px;
    padding: 12px 40px 12px 40px;
    border-radius: 4px ;
    background-color: #1B9E4B;
    color: #ffffff;
    border: none;
}
.main_banner_info_second_child img{
    width: 674px;
    height: 449px;
}
