
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #2782e3;
}
.container {
    background-color: #eee;
    position: relative;
    height: 250px;
    width: 650px;
    margin: 80px auto;
    border-radius: 5px;
}
.form_base {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
}
.form_base_title {
    font-size: 26px;
    text-align: center;
    margin-top: 0;
    background-color: white;
    padding: 4px;
    box-shadow: 0px 2px #bababa;
}
.form_block {
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}
.form_block_title {
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_input {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    color: #1073d0;
    font-size: 17px;
    padding: 12px;
    border-radius: 5px;
}
.calculateBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 40px;
    border: none;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    background-color: #1073d0;
    position: absolute;
    right: 80px;
    top: 70px;
}
.icon_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_btn:hover {
    background-color: #003669;
}
#age {
    margin: 10px;
    overflow: hidden;
    line-height: 1.5;
    font-size: 23px;
    padding: 10px;
}
