* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
}

.header_btn {
    display: none;
}

.header_navbar {
    display: none;
}


@media screen and (max-width: 768px) {
    .header_btn {
        display: block;
        font-size: 60px;
        margin: 15px;
    }

    .header_navbar {
        position: absolute;
        left: -300px;
        transition: .5s all;
        top: 110px;
        width: 170px;
        height: 200px;
        display: flex;
        justify-content: space-around;
        /* background-image: linear-gradient(#FFEEEE, #DDEFBB); */

    }

    .header_navbar_menu {
        gap: 20px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .header_list_btn {
        margin-top: 20px;
        width: 30px;
        height: 30px;
    }

    .active {
        left: 9px;
        transition: .5s all;
    }
}